In [1]:
import MetaTrader5 as mt5
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
mt5.initialize()

True

In [3]:
from_date = datetime.now()
  

mt5.copy_ticks_from("EURUSD",from_date, 10, mt5.COPY_TICKS_ALL)

array([(1666782713, 1.00306, 1.00321, 0., 0, 1666782713390, 130, 0.),
       (1666782713, 1.00306, 1.0032 , 0., 0, 1666782713416,   4, 0.),
       (1666782713, 1.00307, 1.0032 , 0., 0, 1666782713435, 130, 0.),
       (1666782713, 1.00308, 1.0032 , 0., 0, 1666782713451, 130, 0.),
       (1666782713, 1.00308, 1.00319, 0., 0, 1666782713457,   4, 0.),
       (1666782713, 1.00308, 1.00322, 0., 0, 1666782713503,   4, 0.),
       (1666782713, 1.00308, 1.00323, 0., 0, 1666782713545,   4, 0.),
       (1666782713, 1.00307, 1.00323, 0., 0, 1666782713579, 130, 0.),
       (1666782713, 1.00307, 1.0032 , 0., 0, 1666782713620,   4, 0.),
       (1666782713, 1.00306, 1.0032 , 0., 0, 1666782713695, 130, 0.)],
      dtype=[('time', '<i8'), ('bid', '<f8'), ('ask', '<f8'), ('last', '<f8'), ('volume', '<u8'), ('time_msc', '<i8'), ('flags', '<u4'), ('volume_real', '<f8')])

In [4]:
from_date = datetime.now()


ticks = mt5.copy_ticks_from("EURUSD",from_date, 10, mt5.COPY_TICKS_ALL)

df_ticks = pd.DataFrame(ticks)


df_ticks

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,1666782715,1.00302,1.00315,0.0,0,1666782715012,4,0.0
1,1666782715,1.00302,1.00316,0.0,0,1666782715186,4,0.0
2,1666782716,1.00301,1.00316,0.0,0,1666782716504,130,0.0
3,1666782716,1.00300,1.00316,0.0,0,1666782716517,130,0.0
4,1666782716,1.00300,1.00315,0.0,0,1666782716590,4,0.0
5,1666782716,1.00299,1.00315,0.0,0,1666782716901,130,0.0
6,1666782716,1.00299,1.00313,0.0,0,1666782716920,4,0.0
7,1666782718,1.00299,1.00312,0.0,0,1666782718479,4,0.0
8,1666782719,1.00299,1.00311,0.0,0,1666782719086,4,0.0
9,1666782719,1.00297,1.00311,0.0,0,1666782719093,130,0.0

In [5]:
from_date = datetime.now()


ticks = mt5.copy_ticks_from("EURUSD",from_date, 10, mt5.COPY_TICKS_ALL)

df_ticks = pd.DataFrame(ticks)


df_ticks["time"] = pd.to_datetime(df_ticks["time"], unit="s")

df_ticks

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2022-10-26 11:11:58,1.00299,1.00312,0.0,0,1666782718479,4,0.0
1,2022-10-26 11:11:59,1.00299,1.00311,0.0,0,1666782719086,4,0.0
2,2022-10-26 11:11:59,1.00297,1.00311,0.0,0,1666782719093,130,0.0
3,2022-10-26 11:11:59,1.00296,1.00311,0.0,0,1666782719101,130,0.0
4,2022-10-26 11:11:59,1.00295,1.00310,0.0,0,1666782719126,134,0.0
5,2022-10-26 11:11:59,1.00296,1.00310,0.0,0,1666782719133,130,0.0
6,2022-10-26 11:11:59,1.00297,1.00310,0.0,0,1666782719153,130,0.0
7,2022-10-26 11:11:59,1.00298,1.00310,0.0,0,1666782719218,130,0.0
8,2022-10-26 11:11:59,1.00298,1.00311,0.0,0,1666782719238,4,0.0
9,2022-10-26 11:11:59,1.00299,1.00311,0.0,0,1666782719311,130,0.0

In [6]:
from_date = datetime(2022, 10,5)

to_date = datetime(2022, 10, 6)

ticks = mt5.copy_ticks_range("EURUSD", from_date, to_date, mt5.COPY_TICKS_ALL)

df_ticks = pd.DataFrame(ticks)

df_ticks["time"] = pd.to_datetime(df_ticks["time"], unit="s")

df_ticks

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,2022-10-04 21:00:00,0.99737,0.99750,0.0,0,1664917200014,134,0.0
1,2022-10-04 21:00:00,0.99737,0.99751,0.0,0,1664917200111,4,0.0
2,2022-10-04 21:00:00,0.99737,0.99750,0.0,0,1664917200225,4,0.0
3,2022-10-04 21:00:01,0.99736,0.99750,0.0,0,1664917201136,130,0.0
4,2022-10-04 21:00:01,0.99737,0.99750,0.0,0,1664917201388,130,0.0
...,...,...,...,...,...,...,...,...
273834,2022-10-05 20:59:58,0.98746,0.98760,0.0,0,1665003598291,4,0.0
273835,2022-10-05 20:59:58,0.98746,0.98761,0.0,0,1665003598339,4,0.0
273836,2022-10-05 20:59:58,0.98746,0.98762,0.0,0,1665003598386,4,0.0
273837,2022-10-05 20:59:59,0.98747,0.98762,0.0,0,1665003599246,130,0.0
273838,2022-10-05 20:59:59,0.98746,0.98762,0.0,0,1665003599651,130,0.0

In [7]:
from_date = datetime.now()

rates = mt5.copy_rates_from("EURUSD",mt5.TIMEFRAME_D1, from_date, 15)

df_rates = pd.DataFrame(rates)

df_rates["time"] = pd.to_datetime(df_rates["time"],unit="s")

df_rates

,time,open,high,low,close,tick_volume,spread,real_volume
0,2022-10-06,0.98772,0.99257,0.97875,0.97904,196179,0,0
1,2022-10-07,0.97868,0.98162,0.97254,0.97392,165914,0,0
2,2022-10-10,0.97332,0.97526,0.96810,0.97023,199647,0,0
3,2022-10-11,0.97023,0.97741,0.96699,0.97039,251531,0,0
4,2022-10-12,0.97041,0.97343,0.96671,0.97023,238034,0,0
5,2022-10-13,0.96987,0.98053,0.96309,0.97769,305807,0,0
6,2022-10-14,0.97721,0.98080,0.97064,0.97238,270034,0,0
7,2022-10-17,0.97223,0.98515,0.97191,0.98434,213805,0,0
8,2022-10-18,0.98387,0.98750,0.98120,0.98593,234237,0,0
9,2022-10-19,0.98572,0.98718,0.97567,0.97716,209614,0,0
10,2022-10-20,0.97714,0.98450,0.97537,0.97865,235083,0,0
11,2022-10-21,0.97855,0.98684,0.97042,0.98596,357060,0,0
12,2022-10-24,0.98714,0.98985,0.98064,0.98722,313203,0,0
13,2022-10-25,0.98736,0.99762,0.98481,0.99669,200636,0,0
14,2022-10-26,0.99622,1.00470,0.99428,1.00281,106811,0,0

In [8]:
from_date = datetime(2022, 10,1)

to_date = datetime(2022, 10, 10)

rates = mt5.copy_rates_range("EURUSD",mt5.TIMEFRAME_D1, from_date, to_date)


df_rates = pd.DataFrame(rates)

df_rates["time"] = pd.to_datetime(df_rates["time"],unit="s")

df_rates

,time,open,high,low,close,tick_volume,spread,real_volume
0,2022-10-03,0.98011,0.98439,0.97521,0.98239,191720,0,0
1,2022-10-04,0.98236,0.99991,0.98054,0.99860,202164,0,0
2,2022-10-05,0.99839,0.99943,0.98341,0.98855,168168,0,0
3,2022-10-06,0.98772,0.99257,0.97875,0.97904,196179,0,0
4,2022-10-07,0.97868,0.98162,0.97254,0.97392,165914,0,0

In [9]:
def get_ticks(symbol, number_of_data = 10000):
    from_date = datetime.now()
    
    ticks = mt5.copy_ticks_from(symbol, from_date, number_of_data, mt5.COPY_TICKS_ALL)
    df_ticks = pd.DataFrame(ticks)
    df_ticks["time"] = pd.to_datetime(df_ticks["time"], unit="s")
    
    df_ticks = df_ticks.set_index("time")
    
    return df_ticks

get_ticks("EURUSD")

,bid,ask,last,volume,time_msc,flags,volume_real
time,,,,,,,
2022-10-26 11:12:17,1.00279,1.00292,0.0,0,1666782737111,130,0.0
2022-10-26 11:12:17,1.00280,1.00292,0.0,0,1666782737119,130,0.0
2022-10-26 11:12:17,1.00281,1.00292,0.0,0,1666782737126,130,0.0
2022-10-26 11:12:17,1.00281,1.00294,0.0,0,1666782737164,4,0.0
2022-10-26 11:12:17,1.00281,1.00295,0.0,0,1666782737217,4,0.0
...,...,...,...,...,...,...,...
2022-10-26 11:31:03,1.00254,1.00267,0.0,0,1666783863993,4,0.0
2022-10-26 11:31:04,1.00254,1.00266,0.0,0,1666783864001,4,0.0
2022-10-26 11:31:04,1.00254,1.00265,0.0,0,1666783864014,4,0.0
2022-10-26 11:31:04,1.00250,1.00265,0.0,0,1666783864046,130,0.0
2022-10-26 11:31:04,1.00250,1.00264,0.0,0,1666783864061,4,0.0

In [10]:
def get_rates(symbol, number_of_data = 10000, timeframe = mt5.TIMEFRAME_D1):
    from_date = datetime.now()
    
    rates = mt5.copy_rates_from(symbol,timeframe, from_date, number_of_data)
    
    df_rates = pd.DataFrame(rates)
    
    df_rates["time"] = pd.to_datetime(df_rates["time"],unit ="s")
    
    df_rates = df_rates.set_index("time")
    
    return df_rates

get_rates("EURUSD",number_of_data= 100, timeframe= mt5.TIMEFRAME_M1)

,open,high,low,close,tick_volume,spread,real_volume
time,,,,,,,
2022-10-26 09:33:00,0.99691,0.99693,0.99677,0.99683,134,8,0
2022-10-26 09:34:00,0.99684,0.99736,0.99683,0.99733,175,0,0
2022-10-26 09:35:00,0.99733,0.99763,0.99728,0.99762,139,0,0
2022-10-26 09:36:00,0.99762,0.99762,0.99723,0.99723,75,12,0
2022-10-26 09:37:00,0.99724,0.99731,0.99700,0.99710,166,8,0
...,...,...,...,...,...,...,...
2022-10-26 11:08:00,1.00329,1.00348,1.00291,1.00348,290,7,0
2022-10-26 11:09:00,1.00348,1.00412,1.00347,1.00388,449,3,0
2022-10-26 11:10:00,1.00388,1.00392,1.00324,1.00324,405,9,0
2022-10-26 11:11:00,1.00323,1.00351,1.00295,1.00300,266,5,0
2022-10-26 11:12:00,1.00298,1.00303,1.00257,1.00270,239,8,0

In [11]:
mt5.account_info()

AccountInfo(login=44217, trade_mode=0, leverage=100, limit_orders=500, margin_so_mode=0, trade_allowed=True, trade_expert=True, margin_mode=2, currency_digits=2, fifo_close=False, balance=10000.0, credit=0.0, profit=0.0, equity=10000.0, margin=0.0, margin_free=10000.0, margin_level=0.0, margin_so_call=100.0, margin_so_so=30.0, margin_initial=0.0, margin_maintenance=0.0, assets=0.0, liabilities=0.0, commission_blocked=0.0, name='Elly Osii', server='EGMSecurities-Demo', currency='USD', company='EGM Securities Limited')

In [21]:
symbol = "EURUSD"

lot = 0.01


deviation = 10


filling_type = mt5.symbol_info(symbol).filling_mode

request = {
    "acount": mt5.TRADE_ACTION_DEAL,
    "symbol": symbol,
    "volume": lot,
    "type": mt5.ORDER_TYPE_BUY,
    "price": mt5.symbol_info_tick(symbol).ask,
    "deviation": deviation,
    "type_filling": filling_type,
    "type_time": mt5.ORDER_TIME_GTC
}

mt5.order_check(request)

OrderCheckResult(retcode=10013, balance=0.0, equity=0.0, profit=0.0, margin=0.0, margin_free=0.0, margin_level=0.0, comment='Invalid request', request=TradeRequest(action=0, magic=0, order=0, symbol='EURUSD', volume=0.01, price=1.00233, stoplimit=0.0, sl=0.0, tp=0.0, deviation=10, type=0, type_filling=3, type_time=0, expiration=0, comment='', position=0, position_by=0))

In [22]:
#Placing A Buy Order
request = {
    "acount": mt5.TRADE_ACTION_DEAL,
    "symbol": symbol,
    "volume": lot,
    "type": mt5.ORDER_TYPE_BUY,
    "price": mt5.symbol_info_tick(symbol).ask,
    "deviation": deviation,
    "type_filling": filling_type,
    "type_time": mt5.ORDER_TIME_GTC
}

mt5.order_send(request)

OrderSendResult(retcode=10013, deal=0, order=0, volume=0.0, price=0.0, bid=0.0, ask=0.0, comment='Invalid request', request_id=0, retcode_external=0, request=TradeRequest(action=0, magic=0, order=0, symbol='EURUSD', volume=0.01, price=1.00234, stoplimit=0.0, sl=0.0, tp=0.0, deviation=10, type=0, type_filling=3, type_time=0, expiration=0, comment='', position=0, position_by=0))

In [23]:
#Clossing a buy order
#We'll be changing ask to bid in order to close buy request
request = {
    "acount": mt5.TRADE_ACTION_DEAL,
    "symbol": symbol,
    "volume": lot,
    "type": mt5.ORDER_TYPE_BUY,
    "price": mt5.symbol_info_tick(symbol).bid,
    "deviation": deviation,
    "type_filling": filling_type,
    "type_time": mt5.ORDER_TIME_GTC
}

mt5.order_send(request)

OrderSendResult(retcode=10013, deal=0, order=0, volume=0.0, price=0.0, bid=0.0, ask=0.0, comment='Invalid request', request_id=0, retcode_external=0, request=TradeRequest(action=0, magic=0, order=0, symbol='EURUSD', volume=0.01, price=1.0022, stoplimit=0.0, sl=0.0, tp=0.0, deviation=10, type=0, type_filling=3, type_time=0, expiration=0, comment='', position=0, position_by=0))

In [24]:
#Place a sell order
request = {
    "acount": mt5.TRADE_ACTION_DEAL,
    "symbol": symbol,
    "volume": lot,
    "type": mt5.ORDER_TYPE_SELL,
    "price": mt5.symbol_info_tick(symbol).bid,
    "deviation": deviation,
    "type_filling": filling_type,
    "type_time": mt5.ORDER_TIME_GTC
}

mt5.order_send(request)

OrderSendResult(retcode=10013, deal=0, order=0, volume=0.0, price=0.0, bid=0.0, ask=0.0, comment='Invalid request', request_id=0, retcode_external=0, request=TradeRequest(action=0, magic=0, order=0, symbol='EURUSD', volume=0.01, price=1.0024, stoplimit=0.0, sl=0.0, tp=0.0, deviation=10, type=1, type_filling=3, type_time=0, expiration=0, comment='', position=0, position_by=0))

In [25]:
#Close a sell order
#To close a sell order change bid to ask
request = {
    "acount": mt5.TRADE_ACTION_DEAL,
    "symbol": symbol,
    "volume": lot,
    "type": mt5.ORDER_TYPE_SELL,
    "price": mt5.symbol_info_tick(symbol).ask,
    "deviation": deviation,
    "type_filling": filling_type,
    "type_time": mt5.ORDER_TIME_GTC
}

mt5.order_send(request)

OrderSendResult(retcode=10013, deal=0, order=0, volume=0.0, price=0.0, bid=0.0, ask=0.0, comment='Invalid request', request_id=0, retcode_external=0, request=TradeRequest(action=0, magic=0, order=0, symbol='EURUSD', volume=0.01, price=1.00256, stoplimit=0.0, sl=0.0, tp=0.0, deviation=10, type=1, type_filling=3, type_time=0, expiration=0, comment='', position=0, position_by=0))

In [26]:
# Automate the process
def send_order(symbol, lot,buy , sell , id_postion = None , comment = "No Specific Comment", magic = 0 ):
    mt5.initialize()
    
    filling_type = mt5.symbol_info(symbol).filling_mode
    
    #Opening a Trade Buy/Sell
    
    if buy and id_postion == None:
        request = {
            "action": mt5.TRADE_ACTION_DEAL,
            "symbol":symbol,
            "volume": lot,
            "type": mt5.ORDER_TYPE_BUY,
            "price": mt5.symbol_info(symbol).ask,
            "comment":comment ,
            "deviation": 10,
            "type_filling": filling_type,
            "type_time": mt5.ORDER_TIME_GTC
        }
        
        result = mt5.order_send(request)
        
        return result
    
    if sell and id_postion == None:
        request = {
            "action": mt5.TRADE_ACTION_DEAL,
            "symbol":symbol,
            "volume": lot,
            "type": mt5.ORDER_TYPE_SELL,
            "price": mt5.symbol_info(symbol).bid,
            "comment":comment ,
            "deviation": 10,
            "type_filling": filling_type,
            "type_time": mt5.ORDER_TIME_GTC
        }
        
        result = mt5.order_send(request)
        
        return result
    
    #Closing A trade
    
    if buy and id_postion == None:
        request = {
            "action": mt5.TRADE_ACTION_DEAL,
            "symbol":symbol,
            "volume": lot,
            "type": mt5.ORDER_TYPE_BUY,
            "price": mt5.symbol_info(symbol).bid,
            "comment":comment ,
            "deviation": 10,
            "type_filling": filling_type,
            "type_time": mt5.ORDER_TIME_GTC
        }
        
        result = mt5.order_send(request)
        
        return result
    
    if sell and id_postion == None:
        request = {
            "action": mt5.TRADE_ACTION_DEAL,
            "symbol":symbol,
            "volume": lot,
            "type": mt5.ORDER_TYPE_SELL,
            "price": mt5.symbol_info(symbol).ask,
            "comment":comment ,
            "deviation": 10,
            "type_filling": filling_type,
            "type_time": mt5.ORDER_TIME_GTC
        }
        
        result = mt5.order_send(request)
        
        return result

In [27]:
send_order("EURUSD", 0.01, True, False)

OrderSendResult(retcode=10013, deal=0, order=0, volume=0.0, price=0.0, bid=0.0, ask=0.0, comment='Invalid request', request_id=0, retcode_external=0, request=TradeRequest(action=1, magic=0, order=0, symbol='EURUSD', volume=0.01, price=1.00215, stoplimit=0.0, sl=0.0, tp=0.0, deviation=10, type=0, type_filling=3, type_time=0, expiration=0, comment='No Specific Comment', position=0, position_by=0))

In [28]:
information = send_order("EURUSD", 0.01, True, False)

information

OrderSendResult(retcode=10013, deal=0, order=0, volume=0.0, price=0.0, bid=0.0, ask=0.0, comment='Invalid request', request_id=0, retcode_external=0, request=TradeRequest(action=1, magic=0, order=0, symbol='EURUSD', volume=0.01, price=1.0019, stoplimit=0.0, sl=0.0, tp=0.0, deviation=10, type=0, type_filling=3, type_time=0, expiration=0, comment='No Specific Comment', position=0, position_by=0))

In [29]:
send_order("EURUSD", 0.01, True, False , id_postion = information.order)